* {
  margin: 0;
  padding: 0; }

.centrar {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }

.botones {
  width: 15%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.boton1 {
  font-size: 1.5em;
  letter-spacing: 4px;
  font-family: verdana;
  text-decoration: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative; }
  .boton1::before, .boton1::after {
    padding: 13px 20px;
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .boton1:before {
    background: #fff;
    color: #000;
    border: 3px solid #000;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform: translateX(-100%) rotateY(90deg);
    transform: translateX(-100%) rotateY(90deg); }
  .boton1:after {
    background: #0059ff;
    color: #fff;
    border: 3px solid #0059ff;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: translateX(0) rotateY(0deg);
    transform: translateX(0) rotateY(0deg); }
  .boton1:hover:before {
    -webkit-transform: translateX(0) rotateY(0deg);
    transform: translateX(0) rotateY(0deg); }
  .boton1:hover:after {
    -webkit-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg); }

.boton2 {
  width: 170px;
  height: 55px;
  color: #232323;
  font-size: 1.5em;
  text-decoration: none;
  line-height: 55px;
  text-align: center;
  -webkit-box-shadow: 0 0 0 3px #232323;
  box-shadow: 0 0 0 3px #232323;
  position: relative;
  font-family: verdana;
  letter-spacing: 4px; }
  .boton2:before, .boton2:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    background: #0059ff;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  .boton2:hover {
    color: #0059ff; }
  .boton2:before {
    top: -3px;
    left: -3px;
    width: 3px;
    height: 0;
    -webkit-box-shadow: 173px 0 #0059ff;
    box-shadow: 173px 0 #0059ff; }
  .boton2:after {
    bottom: -3px;
    width: 0;
    height: 3px;
    -webkit-box-shadow: 0 -58px #0059ff;
    box-shadow: 0 -58px #0059ff; }
  .boton2:hover:after {
    width: 100%;
    -webkit-box-shadow: 0 -58px #0059ff;
    box-shadow: 0 -58px #0059ff; }
  .boton2:hover:before {
    height: 60.5px;
    -webkit-box-shadow: 173px 0 #0059ff;
    box-shadow: 173px 0 #0059ff; }
