* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

.centrar {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }

.botones {
  width: 15%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.boton1 {
  font-size: 1.5em;
  letter-spacing: 4px;
  font-family: verdana;
  text-decoration: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative; }
  .boton1::before, .boton1::after {
    padding: 13px 20px;
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .boton1:before {
    background: #fff;
    color: #000;
    border: 3px solid #000;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform: translateX(-100%) rotateY(90deg);
    transform: translateX(-100%) rotateY(90deg); }
  .boton1:after {
    background: #0059ff;
    color: #fff;
    border: 3px solid #0059ff;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: translateX(0) rotateY(0deg);
    transform: translateX(0) rotateY(0deg); }
  .boton1:hover:before {
    -webkit-transform: translateX(0) rotateY(0deg);
    transform: translateX(0) rotateY(0deg); }
  .boton1:hover:after {
    -webkit-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg); }

.boton2 {
  width: 170px;
  height: 55px;
  color: #232323;
  font-size: 1.5em;
  text-decoration: none;
  line-height: 55px;
  text-align: center;
  -webkit-box-shadow: 0 0 0 3px #232323;
  box-shadow: 0 0 0 3px #232323;
  position: relative;
  font-family: verdana;
  letter-spacing: 4px; }
  .boton2:before, .boton2:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    background: #0059ff;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  .boton2:hover {
    color: #0059ff; }
  .boton2:before {
    top: -3px;
    left: -3px;
    width: 3px;
    height: 0;
    -webkit-box-shadow: 173px 0 #0059ff;
    box-shadow: 173px 0 #0059ff; }
  .boton2:after {
    bottom: -3px;
    width: 0;
    height: 3px;
    -webkit-box-shadow: 0 -58px #0059ff;
    box-shadow: 0 -58px #0059ff; }
  .boton2:hover:after {
    width: 100%;
    -webkit-box-shadow: 0 -58px #0059ff;
    box-shadow: 0 -58px #0059ff; }
  .boton2:hover:before {
    height: 60.5px;
    -webkit-box-shadow: 173px 0 #0059ff;
    box-shadow: 173px 0 #0059ff; }

.contenedor {
  width: 100%;
  height: 100vh; }

.banner {
  width: 100%;
  height: 50%;
  background-image: url(../img/3.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  .banner .blur {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); }

.ResumeContainer {
  width: 70%;
  height: 50%;
  margin: 0 auto;
  -webkit-transform: translate(0, -55%);
  -ms-transform: translate(0, -55%);
  transform: translate(0, -55%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contenedorBotones {
  width: 100%;
  height: 5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.userInfoContainer {
  width: 65%;
  height: 100%;
  background: #101658;
  position: relative;
  z-index: 1;
  padding: 35px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: .5px; }
  .userInfoContainer:after {
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: inherit;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg); }
  .userInfoContainer .headerInfoContainer {
    width: 100%;
    height: 20%;
    color: #f7f7f7; }
    .userInfoContainer .headerInfoContainer h4 {
      font-weight: 450; }
  .userInfoContainer .bodyInfoContainer {
    width: 100%;
    height: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    color: #fff; }
    .userInfoContainer .bodyInfoContainer li {
      height: calc(65%/3.5);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      list-style: none; }
      .userInfoContainer .bodyInfoContainer li i {
        margin-right: 10px; }
  .userInfoContainer .footerIncoContainer {
    width: 100%;
    height: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    list-style: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .userInfoContainer .footerIncoContainer li {
      width: 45px;
      height: 45px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 10px;
      border-radius: 50px;
      color: #fff;
      cursor: pointer; }
      .userInfoContainer .footerIncoContainer li:nth-child(1) {
        background: #003aad; }
      .userInfoContainer .footerIncoContainer li:nth-child(2) {
        background: #0084ff; }
      .userInfoContainer .footerIncoContainer li:nth-child(3) {
        background: #be1105; }
      .userInfoContainer .footerIncoContainer li:nth-child(4) {
        background: #043fb4; }
      .userInfoContainer .footerIncoContainer li:hover {
        background: #0c1142;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }

.userImage {
  width: 35%;
  height: 100%; }
  .userImage img {
    width: 100%;
    height: 100%; }
