*{
    margin:0;
    padding:0;
}
@import './Estilos';
//VARIABLES
$ColorPrincipal : #101658;
.contenedor{
    width:100%;
    height: 100vh;
}
.banner{
    width:100%;
    height: 50%;
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .blur{
        width: 100%;
        height: 100%;
        background:rgba(0, 0, 0,.3);   
    }
}
.ResumeContainer{
    width:70%;
    height: 50%;
    margin: 0 auto;
    transform: translate(0,-55%);
    display: flex;
}
.contenedorBotones{
    width: 100%;
    height: 5em;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}
.userInfoContainer{
    width: 65%;
    height: 100%;
    background:$ColorPrincipal;
    position: relative;
    z-index:1;
    padding:35px 30px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: .5px;
    
    &:after{
        z-index: -1;
        content:"";
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        position: absolute;
        background:inherit;
        transform-origin: top left;
        transform : skewX(10deg);
    }
    .headerInfoContainer{
        width:100%;
        height: 20%;
        color:#f7f7f7;
        h4{
            font-weight: 450;
        }
    }
    .bodyInfoContainer{
        width:100%;
        height:65% ;
        display: flex;
        flex-flow: column wrap;
        color:#fff;
        li{
            height: calc(65%/3.5);
            display: flex;
            align-items: center;
            list-style: none;
            i{
                margin-right: 10px;
            }
        }
    }
    .footerIncoContainer{
        width:100%;
        height: 15%;
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        align-items: center;
        li{
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin:10px;
            border-radius: 50px;
            color:#fff;
            cursor: pointer;
            &:nth-child(1){
                background:#003aad;
            }
            &:nth-child(2){
                background:#0084ff;
            }
            &:nth-child(3){
                background:#be1105;
            }
            &:nth-child(4){
                background:#043fb4;
            }
            &:hover{
                background:darken($ColorPrincipal, 5);
                transition:all .3s;
            }
        }
    }
}
.userImage{
    width:35%;
    height: 100%;
    img{
        width:100%;
        height: 100%;
    }
}