*{
    margin:0;
    padding:0;
}
.centrar{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
.botones{
    width:15%;
    height: 10%;
    display: flex;
    box-sizing: border-box;
}
.boton1{
    font-size: 1.5em;
    letter-spacing: 4px;
    font-family: verdana;
    text-decoration: none;
    transform-style: preserve-3d;
    position: relative;  

    &::before, &::after{
        padding: 13px 20px;
        content:attr(title);
        position: absolute;
        top:0;
        left:0;
        transition: .5s;
    }
    &:before{
        background:#fff;
        color:#000;
        border: 3px solid #000;
        transform-origin:right; 
        transform:translateX(-100%) rotateY(90deg);
    }
    &:after{
        background:#0059ff;
        color:#fff;
        border: 3px solid #0059ff;
        transform-origin:left; 
        transform:translateX(0) rotateY(0deg);
    }
    &:hover:before{
        transform:translateX(0) rotateY(0deg);
    }
    &:hover:after{
        transform:translateX(100%) rotateY(90deg);
    }
}
.boton2{
    $borderColor : #232323;
    $pseudoColor : #0059ff;
    width:170px;
    height: 55px;
    color:#232323;
    font-size: 1.5em;
    text-decoration: none;
    line-height: 55px;
    text-align: center;
    box-shadow: 0 0 0 3px $borderColor;
    position:relative;
    font-family: verdana;
    letter-spacing: 4px;
    &:before, &:after{
        content:"";
        display: block;
        position: absolute;
        left: 0;
        background:$pseudoColor;
        transition: all .5s;
    }
    &:hover{
        color:$pseudoColor;
    }
    &:before{
        top:-3px;
        left: -3px;
        width: 3px;
        height:0;
        box-shadow: 173px 0 $pseudoColor;
    }
    &:after{
        bottom:-3px;
        width:0;
        height: 3px;
        box-shadow: 0 -58px $pseudoColor;
    }
    &:hover:after{
        width:100%;
        box-shadow: 0 -58px $pseudoColor;
    }
    &:hover:before{
        height: 60.5px;
        box-shadow: 173px 0 $pseudoColor;
    }
}
